# Config File
config.yml
eth_wallets.json
goerli_wallets.json
notify_token_pairs.json
user_tracking_list.json

# Logs
*.log
logs
logs.txt

# IDE Files and Environment
.idea
__pycache__
venv

# PyInstaller
*.spec
build
dist