# Config File
config.yml
tracking_wallets.json
notify_token_pairs.json
user_tracking_list.json

#Downloaded Files
images/nft_images

# Logs
*.log
logs
logs.txt

# IDE Files and Environment
.idea
__pycache__
venv

# PyInstaller
*.spec
build
dist

# Testing Files
tests/test_app.py
test.py
test.json